Django==5.0.3
asgiref==3.7.2
sqlparse==0.4.4
Pillow==11.1.0
gunicorn==21.2.0
whitenoise==6.6.0
django-bootstrap5==25.1
django-crispy-forms==2.3
django-widget-tweaks==1.5.0
tzdata==2024.1
dj-database-url==2.1.0
psycopg2-binary==2.9.9
django-extensions==4.1.0
pyOpenSSL==25.0.0
cryptography==44.0.2 
vercel-wsgi